@import "../node_modules/bootstrap/scss/bootstrap";

.header1{
    font-size: 50px;
    font-weight: 900;
    color: black;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto ;
}

.timer{
    font-size: 25px;
    font-weight: 500;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}