@import "../node_modules/bootstrap/scss/bootstrap";
.body{
    overflow-x: hidden;
}

/* nav{
  display: none;
} */

.header1{
    font-size: 50px;
    font-weight: 900;
    color: black;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto ;
}

.timer{
    font-size: 25px;
    font-weight: 500;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 10px;
    background-color: darkslategrey;
    color: white;
    width: 100%;
}

.drawer1{
    margin: 20px;
    text-align: center;
    height: 350px;
}

.moreBtn{
    border-radius: 50%;
    background-color: white;
    transition-duration: 1s;
    color: black;
}

.moreBtn:hover{
    border-radius: 0;
}

.more{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

.parallax {
    /* The image used */
    background-image: url("./img/bg.jpg");
  
    /* Set a specific height */
    min-height: 250px;

    color: white;
    text-align: center;
    display: table-cell;
    height: 250px;
    width: 1000vw;
    font-size: 50px;
    font-weight: 900;
    vertical-align: middle;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 10vw;
    margin-top: 10px;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: arial;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
  }
  
  .card:hover{
    cursor: pointer;
  }

  .price {
    color: red;
    font-size: 14px;
  }
  .desc{
    font-size: 10px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

li{
    display: inline;
  }

  ul{
    list-style: none;
  }

#cartCount{
  background-color: yellow;
  border-radius: 50%;
  min-width: 20px;
  color: black;
  display: none;
  padding: 2px;
}

#wishCount{
  background-color: yellow;
  border-radius: 50%;
  min-width: 20px;
  color: black;
  display: none;
  padding: 2px;
}

/* overlay */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;
    text-align: center;
    padding-top: 20px;
    color: black;
  }
  
.oCard{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    margin-top: 10px;
    height: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: arial;
    border-radius: 10px;
    display: inline-block;
    padding: 15px;
}

#oImg{
    width:200px; 
    border-radius:10px; 
    height:150px
}

#oTitle{
    font-size:25px; 
    font-weight: 500;
}

#oBtn{
    display: inline-block;
    width: fit-content;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    bottom: 0;
}

#oClose{
  display: inline-block;
  width: fit-content;
  border: none;
  /* margin-top: 10px; */
  background-color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  bottom: 0;
}

#oWish{
  display: inline-block;
  width: fit-content;
  border: none;
  /* background-color: #D22B2B; */
  padding: 14px 28px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  bottom: 0;
}

/* cart */
.main{
  height: 90%;
  width: 80%;
  /* background-color: #000; */
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-color: #000;
  position: relative;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}


.cartFooter{
  width: 80%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  /* bottom: 0%; */
  /* position: absolute; */
  /* bottom: 0; */
  /* background-color: #04AA6D; */
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.Hcard{
  width: 90%;
  height: 150px;
  margin-top: 10px;
  /* position: absolute; */
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
  border-radius: 20px;
  display: flex;
}

.cartImg{
  height: 100%;
  width: 15%;
  margin-left: 5%;
}

.span1{
  /* background-color: aqua; */
  height: 100%;
  width: 75%;
  display: inline;
  padding-left: 2%;
  margin-left: 5%;
}

.subSpan1{
  /* background-color: blue; */
  height: 50%;
  width: 75%;
  display: inline;
  margin-left: 5%;
  z-index: 3;
}

.itemsCount{
  justify-content: center;
  width: 30%;
  height: 100%;
  display: inline;
}

#noItems{
  /* margin-left: 5%; */
  width: max-content;
}

.total{
  display: inline;
  /* position: relative; */
  width: 40%;
}

.buyBtn{
  display: inline;
  width: 30%;
  border: none;
  background-color: #04AA6D;
  /* padding: 14px 28px; */
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  bottom: 0;
  /* margin-left: 20%; */
}

.del{
  height: fit-content;
  align-self: center;
  color: white;
  background-color: red;
  border: none;
}


